
.botones {
        background-color: blanchedalmond;
        height: 50px;
        width: fit-content;
        border-radius: 10px;
        color: black;
        font-size: medium;
        margin-bottom: 10px;
}

.saludo {
    color: blanchedalmond;
}